@tailwind base;
@tailwind components;
@tailwind utilities;

.c-nav {
    display: none;
}

.c-nav.is-open {
    display: flex;
    justify-content: flex-start;
    z-index: 10;
    flex-direction: column;
}

@media (min-width: 768px) {
    .c-nav {
        display: flex;
    }
}

.c-page-section {
    @apply mb-10 md:mb-12;
}

.c-wysiwyg {
    h1 {
        @apply text-3xl md:text-4xl mb-8 border-l-4 border-norway-500 pl-2 text-norway-900 font-semibold;
    }

    h2 {
        @apply text-2xl mb-4 font-medium text-norway-900;
    }

    h3 {
        @apply text-xl mb-4 font-semibold;
    }

    h4 {
        @apply text-lg mb-4;
    }

    p {
        @apply mb-5;
    }

    img {
        @apply my-10;
    }
}

.c-le-point-sur {
    @apply mt-8 p-5 shadow-md rounded-md;

    h3 {
        @apply text-xl mb-4;
    }
}

.c-card {
    @apply bg-norway-50 shadow-md;
}

.c-card__title,
.c-card h2,
.c-card h3,
.c-card h4 {
    @apply p-8 bg-norway-200 rounded-t-md;
}

.c-card__content {
    @apply px-8 py-4 rounded-b-md;
}

.c-text-link {
    @apply text-atlantis-800 hover:text-atlantis-600 font-semibold underline transition-colors ease-out;
}

.c-text-link--dark {
    @apply text-atlantis-50 hover:text-atlantis-200 font-semibold underline transition-colors ease-out;
}

.c-nav-link {
    @apply py-6 md:py-0 text-lg font-semibold text-juniper-50 hover:text-juniper-100 transition-colors ease-out;
}
